body {
    min-width: 100%;
    min-height: 100%;
}

header {
    display: flex;
    justify-content: flex-start;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: #0A1B32;
    margin-left: 80px;
    margin-top: 37px;
}

.logo-dot {
    color: #4F56F1
}

.nav {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-left: 97.5px;
    margin-top: 48px;
}

.nav-item {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #1B0A42;
    text-decoration: none;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    margin-left: 38px;
}

.sign-in {
    display: flex;
    align-self: baseline;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.02em;
    color: #1B0A42;
    margin-left: 752.2px;
}

.sign-up-btn {
    width: 120px;
    height: 59.65px; 
    background: #4F56F1;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    border: none;.n
    margin-left: 40.3px;
}

section {
    display: inline-block;
}

.main-title {
    max-width: 495px;
    width: 100%;
    font-family: 'Ramaraja', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 76px;
    /* or 106% */
    letter-spacing: 0.02em;
    color: #1B0A42;
    margin-top: 203.09px;
    margin-left: 200px;
}

.main-info {
    max-width: 538.08px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */
    letter-spacing: 0.02em;
    color: #9A9A9A;
    margin-top: 442.71 px;
    margin-left: 200px;
}

.main-btn {
    width: 152px;
    height: 63.82px;
    background: #4F56F1;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    /* or 200% */
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-top: 50px;
    margin-left: 200px;
    border: none;
}
