h1 {
    color: black;
    font-size: 40px;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    background-color: rgba(251, 247, 226, 0.756);
}

h2 {
    color: rgb(79, 79, 79);
    font-size: 25px;
    font-weight: 600;
    font-style: normal;
    text-align: justify;
}

h3 {
    color: rgb(79, 79, 79);
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}


aside {
    display: block;
    width: 30%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    color: black;
    text-align: justify;
    background-color: rgba(251, 247, 226, 0.756);
  }

section {
    display: block;
    width: 67%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: none;
    color: black;
    text-align: justify;
    background-color: rgba(251, 247, 226, 0.756); 
}

img {
    box-shadow: 10px 10px 20px rgba(164, 148, 129, 0.535);
}

body {
    background-image: url(../images/background.jpeg);
    background-repeat: repeat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 
